<div id="manu-1">
    <nav class="navbar">
        <img src="../assets/img/logo.jpg" width="117px">
        <div class="phone-contact">
            <img src="http://media.bizwebmedia.net/Sites/95717/data/upload/2014/2/ico_phone.png?0" alt="">
            <div class="inner-info">
                <span>Hotline</span>
                <p>0865 719 953</p>
            </div>
            <div class="Clear"></div>
        </div>
    </nav>
</div>
<div id="manu">
    <nav class="navbar">
        <div id="nav-1" style="list-style-type:none;">
            <li><a href="#">TRANG CHỦ</a></li>
        </div>
        <div id="nav-2" style="list-style-type:none;">
            <li><a href="#">GIỚI THIỆU</a></li>
        </div>
        <div id="nav-3" style="list-style-type:none;">
            <li><a href="#">SẢN PHẨM</a></li>
        </div>
        <div id="nav-4" style="list-style-type:none;">
            <li><a href="#">BÁN CHẠY</a></li>
        </div>
        <div id="nav-5" style="list-style-type:none;">
            <li><a href="#">BẢN ĐỒ</a></li>
        </div>
        <div id="nav-6" style="list-style-type:none;">
            <li><a href="#">LIÊN HỆ</a></li>
        </div>
        <div id="nav-7" style="list-style-type:none;">
            <form class="form-inline" action="/somepage">
                <input class="form-control mr-sm-2" type="text" placeholder="Nội Dung Tìm Kiếm">
                <button class="btn btn-success" type="submit">Tìm Kiếm</button>
            </form>
        </div>
    </nav>
</div>
